header {
  border-style: hidden hidden solid hidden;
  padding-bottom: 10px;
  border-width: 1px;
  border-color: lightgray;
  height: 112px;
  }
#stick {

  }
#logo {
  width: 90px;
  height: auto;
  float: left;
  margin: 30px 20px;
  }

#searchbar {
  background-color: transparent;
  border-radius: 25px;
  border: 1px darkgrey solid;
  width: 650px;
  height: 40px;
  margin: 23px 20px;
  padding-left: 15px;
  }

  #signIn {
    background-color: #2b7de9;
    font-family: Roboto;
    color:white;
    text-align: center;
    border: none;
    text-decoration: none;
    padding: 12px 28px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    float: right;
    margin: 27px 20px;
  }
#navBar {
 margin-left: 150px;
 width: 650px;
 height: 30px;
}

#navBar li {
  margin: 20px 0px;
  display: inline;
  padding: 50px 10px;
}

#navBar li a {
  font-family: Arial, Helvetica, sans-serif;
  color: #5f6368;
  font-size: 13px;
  text-decoration: none;
}


#navBarRight {
  float: right;
}

.active{
  border-style: hidden hidden solid hidden;
  padding: 0px 5px;
  padding-bottom: 10px;
  border-width: 5px;
  border-color: blue;
}

main{
  padding-left: 155px;
}

#resultAmount {
  padding-top: 15px;
  padding-bottom: 20px;
  font-size: 13px;
  color: #5f6368;
}

.resultLink {
  font-size: 15px;
  color: green;
  padding: 10px 0px;
}

.resultTitle {
  font-size: 20px;
  color: blueviolet;
  padding: 10px 0px;
}

.resultP {
  font-size: 15px;
  color: gray;
  width: 650px;
  height: 30px;
  padding-bottom: 20px;
  line-height: 20px;
}