header {
  border-style: hidden hidden solid hidden;
  padding-bottom: 10px;
  border-width: 1px;
  border-color: lightgray;
  height: 112px;
  }
#stick {
  width: 100%;
  position: sticky;
  background: white;
  top:0;
  }
#logo {
  width: 90px;
  height: auto;
  float: left;
  margin: 30px 20px;
  }

#searchbar {
  background-color: transparent;
  border-radius: 25px;
  border: 1px darkgrey solid;
  width: 650px;
  height: 40px;
  margin: 23px 20px;
  padding-left: 15px;
  }

#searchbar:hover {
    box-shadow: 0px 1px 3px 1px rgb(218, 218, 218);
    }

#apps {
      display: block;
      float: right;
      margin-top: 0px;
      width: 32px;
      height: 32px;
      text-decoration: none;
      border: none;
      outline: none;
      margin-top: -60px;
     background: url(/google-search-results-page/Assets/i1_1967ca6a.png) -130px -36px;
      }
#signIn {
    background-color: #2b7de9;
    font-family: Roboto;
    color:white;
    text-align: center;
    border: none;
    text-decoration: none;
    padding: 12px 28px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    float: right;
    margin: 27px 20px;
  }
#navBar {
 margin-left: 150px;
 width: 650px;
 height: 30px;
}

#navBar li {
  margin: 20px 0px;
  display: inline;
  padding: 50px 10px;
}

#navBar li a {
  font-family: Arial, Helvetica, sans-serif;
  color: #5f6368;
  font-size: 13px;
  text-decoration: none;
}

#navBarRight {
  float: right;
}

.active{
  border-style: hidden hidden solid hidden;
  padding: 0px 5px;
  padding-bottom: 10px;
  border-width: 5px;
  border-color: #2b7de9;
}

main{
  padding-left: 155px;
}

h3{
  margin: 15px 0px;
}

b{
  font-weight: bold;
}

#resultAmount {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 13px;
  color: #5f6368;
}

.resultLink {
  font-size: 13px;
  color: green;
  margin: 30px 0px;
  text-decoration: none;
}

.resultTitle {
  font-size: 20px;
  color: #1a0dab;
  margin-top: 10px;
  text-decoration: none;
  font-family: arial,sans-serif;
}

.resultTitle:hover {
  text-decoration: underline;
}

.resultP {
  font-size: 15px;
  color: #4d5156;
  width: 650px;
  height: 30px;
  margin-bottom: 40px;
  line-height: 20px;
  font-family: arial,sans-serif;
}

.paaResult {
 border: 1px solid lightgray;
 border-radius: 15px;
 width: 650px;
 margin: 30px 0px;
}
.paaResult li {
  border-top: 1px solid lightgray;
  padding: 10px 20px;
 }

 #paaTitle{
  border: none;
}

 #paaTitle p {
  font-size: 20px;
}


#paaOneOne {
  display: none;
}
#paaOne:active paaOneOne {
  display: block;
}

#paaTwoOne {
  display: none;
}
#paaThreeOne {
  display: none;
}
#paaFourOne {
  display: none;
}

 .srwResult {
  width: 650px;
  height: 100px;
  padding-top: 5px;
  padding-bottom: 20px;
 }

 .srwResult li {
  text-align: left;
  padding: 5px;
  padding-left: 0px;
  font-size: 10px;
  color: #1a0dab;
  font-size: 14px;
  font-family: arial,sans-serif;
 }
 #srwTitle  {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: arial,sans-serif;
    }

 #srwLeft  {
display: inline;
float: left;
  }
  #srwLeft a {
    text-decoration: none;
      }

  #srwRight {
    margin-top: -10px;
    float: right;
display: inline;
  }
  #srwRight a {
    text-decoration: none;
  }

  #pageSelector{
    margin-left: 250px;
    height: 200px;
  }

  #pageSelector li {
    display: inline;
  }

  .pageNum {
    text-decoration: none;
    text-align: center;
  }
  .pageNum p{
    text-decoration: none;
    text-align: center;
    margin-left: 15px;
  }

  .pageNum p:hover {
    text-decoration: underline;
  }
  #pageStart {
    display: inline-block;
    margin-top: 0px;
    width: 23px;
    height: 32px;
    text-decoration: none;
    border: none;
    outline: none;
    background: url(/google-search-results-page/Assets/i1_1967ca6a.png) -0px -32px;
  }
  #pageCurrent {
    display: inline-block;
    margin-top: 0px;
    width: 16px;
    height: 32px;
    text-decoration: none;
    border: none;
    outline: none;
    background: url(/google-search-results-page/Assets/i1_1967ca6a.png) -24px -32px;
    padding-bottom: 1px;
  }
  #pageOther {
    display: inline-block;
    margin-top: 0px;
    width: 16px;
    height: 32px;
    text-decoration: none;
    border: none;
    outline: none;
    background: url(/google-search-results-page/Assets/i1_1967ca6a.png) -40px -32px;
    padding-bottom: 1px;
  }
  #pageEnd {
    display: inline-block;
    margin-top: 0px;
    width: 40px;
    height: 34px;
    text-decoration: none;
    border: none;
    outline: none;
    background: url(/google-search-results-page/Assets/i1_1967ca6a.png) -56px -32px;
    margin-top: 30px;
  }
  #pageNext {
    display: inline-block;
    margin-top: 0px;
    width: 40px;
    height: 20px;
    text-decoration: none;
    border: none;
    outline: none;
    background: url(/google-search-results-page/Assets/i1_1967ca6a.png) -192px -25px;
  }
    /*
  #pageOne {
    text-decoration: none;
    width: 32px;
    height: 32px;
    width: 32px;
    height: 32px;
    text-decoration: none;
    border: none;
    outline: none;
    background: url(/google-search-results-page/Assets/i1_1967ca6a.png) -96px -32px;
  }


*/

footer{
  background-color: #F2F2F2;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: block;
}

 #navBot {
  padding-top: 20px;
  padding-left: 155px;
  font-size: small;
  color: #5f6368;
}
#navBot li {
padding: 10px 10px;
display: inline;
}
